<!DOCTYPE html>
<html>
<head>
	<title>Teste de rede neural</title>
</head>
<body>
	<form action="/test/execute" method="post">
		<input type="textarea" name="COMMENT">
		<!-- <input type="number" name="IDADE">
		<input type="date" name="DATA_NASC_CLIENTE">
		<input type="text" name="CEP_CLIENTE">
		<input type="email" name="EMAIL_CLIENTE"> -->
		<input type="submit" value="Cadastrar">
	</form>
</body>
</html>