<!DOCTYPE html>
<html>
<head>
	<title>Resultado</title>
</head>
<body>
	<h1><%= result %></h1>
	<% if(result != null){ %>
		<H1>SEU BOCA SUJA!</H1>
	<% } else{ %>
		<H1>Vocabulário legal!</H1>
	<% } %>
</body>
</html>